@import '../../../app/config.scss';

.admin-content {
    @include adminList(30%, 70%)
};

.cancel-icon {
    @include adminListCancelIcons;
};

.form-control,
.addEventBtn {
    margin-top: marginTop(10px);
};

.input-form {
    @include admin-form;

};



.admin-shop-cont {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .list {
        width: 70%;
    }

    .input-form-cont{
        
        @include admin-form;

        .title {
            cursor: pointer;

        }
    }
}