<div class="blog-container">
    <div class="content"  *ngFor="let blog of blogPosts$|async">

        <div class="image-section">
            <img [src]="blog.img"
                alt="Image">
        </div>

        <div class="sections">
          
            <div class="text-section">
                <div [innerHTML]="blog.htmlContent|truncate"></div>

            </div>
            <div (click)="viewDetails(blog.key)" class="text-section">
                <p>{{'show_more'|translate}}</p>
            </div>
        </div>

    </div>
</div>