.blog-container {
    max-width: 80%;
    margin: 0 auto;


    .content {
        display: flex;
        border: 1px solid #ccc;
        border-radius: 4px;

        .image-section {
            width: 250px;
            padding: 10px;
            display: flex;
            height: 200px;
            /* Use flexbox for centering */
            justify-content: center;
            /* Horizontally center */
            align-items: center;
            /* Vertically center */
            overflow: hidden;

            img {
                max-width: 100%;
                /* Ensure the image doesn't overflow its container */
                max-height: 100%;
                object-fit: cover;
            }
        }

        .sections {
            flex: 1;
            display: flex;
            flex-direction: column;

            .text-section {
                padding: 10px;

                &:last-child {
                    margin-left: auto;
                    cursor: pointer;
                }
            }
        }
    }

    .content:not(:first-child) {
        margin-top: 15px;
    }
}