.order-stuff-cont {
    width: 100%;

    form {

        .ckeckbox {

            padding: 0px 0px 15px 0px;
            a {
                
                text-decoration: none;
                color:#3f51b5;

            }

        }
    }
}