

@mixin centerElement {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

form{

    div{
        display: flex;
        gap: 20px;
        margin-top: 20px;

        button {
            position: relative;
    
            mat-spinner {
                @include centerElement;
            }
        }
        #fileInput{
            display: none;
        }
    
        .custom-file-upload {
            display: flex;
            align-items: center; /* Align items vertically in the center */
            justify-content: center;
            text-align: center;
            padding: 5px 12px;
            cursor: pointer;
            background-color: #6772b2;
            color: white;
            border-radius: 5px;
            border: 1px solid #6772b2;
            width: 10%;
        
          }

    }

      
}


.innerHtml{
    max-height: 250px;
    margin-top: 20px;
}
.photo-cont{
    width: 70px;
    height: 70px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}