<form (ngSubmit)="onAddBlog()" [formGroup]="form">
    <angular-editor formControlName="htmlContent" [config]="editorConfig"></angular-editor>


    <div>

        <button type="submit" mat-raised-button color="primary">

            {{'add_blog'|translate}}

        </button>

        <input id="fileInput" type="file" placeholder="{{'image'|translate}}" name="" formControlName="img"
            (change)="showPreview($event)">

        <label for="fileInput" class="custom-file-upload">
            {{'upload'|translate}} <mat-icon>upload



            </mat-icon>
    <mat-spinner *ngIf="isLoading" [diameter]=20></mat-spinner>

        </label>

    </div>



</form>


<mat-spinner *ngIf="addBlogLoading" [diameter]=30></mat-spinner>
<div class="photo-cont">
    <img [src]="photoUrl?photoUrl:defaultImage" alt="">

</div>

<div class="innerHtml" [innerHTML]="this.f['htmlContent'].value">


</div>

