<div class="admin-content" >

    <div class="admin-inner">
        <h5 class="list-title">{{pageTitle|translate}}</h5>
        <div class="admin-list-content">
            <div class="admin-list-inner">
                <div class="personal-info" *ngFor="let column of displayedColumns">
                    <h5 [hidden]="column.forBackOnly">{{column.title}}</h5>
                    <div *ngFor="let item of column.getData;let i = index"  style="border-bottom: 1px solid #e9e9e9!important;" >
                        <div [hidden]="column.forBackOnly">

                            <ng-container *ngIf="column.isVideo">
                                <video *ngIf="item[i]" width="40" height="40" controls>
                                    <source [src]="item[i]" type="video/mp4">
                                </video>
                            </ng-container>
                            
                            <ng-container *ngIf="column.isImage">
                                <img  [src]="item" alt="" width="40" height="40">
                            </ng-container>
                            
                            <ng-container *ngIf="!column.isVideo && !column.isImage">
                                {{ item }}
                            </ng-container>
                            
                       
                         
                        </div>
                        <!-- <img *ngIf="item==='stuffs'" [src]="item"> -->
                    </div>
                </div>

                <div class="displayedColumns"  *ngIf="displayedColumns" >

                    <div class="displayedColumns-inner" *ngFor="let column of displayedColumns[0]?.getData;let i=index"
                        >
                        <div class="action-btns">
                            <div *ngIf="cancel">
                                <mat-icon (click)="emitAction(i,'cancel',displayedColumns)"
                                    style="cursor:pointer;">cancel
                                </mat-icon>
                            </div>
                            <div *ngIf="showConfirm">
                                <mat-icon (click)="emitAction(i,'confirm',displayedColumns)"
                                    style="cursor:pointer;">check
                                </mat-icon>
                            </div>
                            <div *ngIf="showDetails">
                                
                                <mat-icon (click)="emitAction(i,'detail',displayedColumns)"
                                    style="cursor:pointer;">pageview
                                </mat-icon>
                            </div>
                            <div *ngIf="showAdd">
                                
                                <mat-icon (click)="emitAction(i,'add',displayedColumns)"
                                    style="cursor:pointer;">add
                                </mat-icon>
                            </div>
                            <div *ngIf="feedback">
                                
                                <mat-icon (click)="emitAction(i,'feedback',displayedColumns)"
                                    style="cursor:pointer;">question_answer
                                </mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>