<div class="detail-content">
    <div class="detail-inner" *ngIf="stuffDetails$|async as stuff">

        <div *ngIf="stuff.productType==='stuffs'" class="productDetail">
            <img [src]="stuff.img" >
        </div>

        <div *ngIf="stuff.productType==='courses'" class="productDetail">

            <video  controls  class="productDetail">
                <source [src]="stuff.img" type="video/mp4">
                </video>
        </div>
        

        <div class="product-info">
            <h3>{{'description'|translate}}:</h3>
            <li> {{'title'|translate}} {{stuff.title}}</li>
            <li> {{'description'|translate}} {{ stuff.description}}</li>

          <h3>{{"prise"|translate}} {{stuff.prise}} ₾</h3>


          <div class="buy">
            <button (click)="buyProductNow(stuff)" 
                     mat-flat-button color="primary">{{"buy"|translate}}
           </button>

            <!-- <button (click)="addProductInCart(stuff)"
                      style="margin-left:10px" mat-flat-button color="primary">{{"add to cart"|translate}}
            </button> -->
        </div>
        </div>



     

    </div>

</div>

<div>

</div>