<div class="detail-content">
    <div class="detail-inner" *ngIf="stuffDetails$|async as stuff">

        <div *ngIf="stuff.productType==='stuffs'" class="productDetail">
            <img [src]="stuff.img" >
        </div>

         <video *ngIf="stuff.productType==='courses'" controls  class="productDetail">
        <source [src]="stuff.img" type="video/mp4">
        </video>

        <div class="product-info">
            <h3>Description:</h3>
            <li> title:{{stuff.title}}</li>
            <li> {{stuff.description}}</li>

          <h3>{{"prise"|translate}} {{stuff.prise}} ₾</h3>
        </div>

        <div class="buy">
            <button (click)="buyProductNow(stuff)" 
                     mat-flat-button color="primary">{{"buy"|translate}}
           </button>

            <button (click)="addProductInCart(stuff)"
                      style="margin-left:10px" mat-flat-button color="primary">{{"add to cart"|translate}}
            </button>
        </div>

    </div>

</div>

<div>

</div>