$whiteColor: white;
$borderRadius: 5px;

@mixin absoluteSizes() {
    width: 100%;
    height: 100%;
}

@mixin centerElement {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



//admin
@mixin adminList($PinfoWidth, $EinfoWidth) {
    @include absoluteSizes;

    .admin-flex {
        display: flex;
        width: 100%;

    }

    .admin-inner {

        // width: 70%;
        .list-title {
            padding: 5px;
        }

        .admin-list-content {
            width: 100%;

            .admin-list-inner {
                display: flex;
                background-color: $whiteColor;
                padding: 10px;
                margin-top: 10px;
                border-radius: $borderRadius;
                width: 95%;

                .personal-info {
                    width: $PinfoWidth;

                    div {
                        padding: 3px;

                        div {
                            margin-top: 8px;
                        }
                    }
                }

                .event-Info {
                    width: $EinfoWidth;

                    div {
                        img {
                            height: 100%;
                            width: 25%;
                            object-fit: cover;
                            border-radius: 5px;
                        }
                    }
                }

                .displayedColumns {
                    margin-top: 75px;

                    .displayedColumns-inner {
                        display: flex;
                        flex-direction: column;

                        .action-btns {
                            display: flex;
                            gap: 15px;
                            margin-top:10px
                        }
                    }
                }
            }
        }


    }


}

;

@mixin admin-form {
    background-color: $whiteColor;
    border-radius: $borderRadius;
        
    margin:  0 auto;
    display: grid;
    place-items: 'center';
    width: auto;
    position: sticky;
    top: 0px;
    padding: 10px;
    max-height: 500px;
    
}

@mixin adminListCancelIcons {
    float: right;
    cursor: pointer;
    opacity: 0.8;
}

;

@function marginTop($size) {
    @return $size
}

;