<div class="bank-account-cont">

    <div>
        <h4>გადასახდელათ გადადი ლინკზე:</h4>
        <div>
            <a href="https://ecom.tbcpayments.ge/New/pay/product/tQoeDvqdcH6?lang=KA" target="_blank">{{'pmt_link'|translate}}</a>
        </div>
    </div>


    <h4>ან გადაიხადე წვემოთ მოცემულ რეკვიზიტებზე:</h4>

    <div class="bank-account-inner">
        <div class="item" *ngFor="let bankInfo of bankAccounts" (click)="redirectIBank(bankInfo)">
            <div class="left-side">
                <img [src]="bankInfo.logo" alt="logo">
            </div>
            <div class="right-side">
                <div class="bank-name">{{bankInfo.bankName}}</div>
                <div class="bank-account">{{bankInfo.bankAccount}}</div>
                <div class="recipient">{{bankInfo.recipient}}</div>
            </div>
        </div>
    </div>

 
</div>
