form {
    width: 100%;

    h4{
        margin: 0px 0px 10px 0px;
        text-align: center;
    }

    div {
        width: 100%;

        mat-form-field {
            width: 100%;

        }
    }

    button {
        width: 100%;
    }
}