example-user-input {
  margin-right: 8px;
}

.dashboard-cont {
  width: 100%;
  background-color: rgb(226, 237, 243);
  height: 100vh;
  position: relative;
  border-radius: 14px;

  .team-member {
    width: 100%;
    display: flex;
    // margin-left: 20%;

    .image {
      width: 600px;
      height: 650px;
      margin-top: 2%;
      position: absolute;
      margin-left: 15%;
      border-radius: 14px;


      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 14px;

      }
    }

    .info-box {

      position: absolute;
      width: 250px;
      height: auto;
      background-color: white;
      left: 55%;
      top: 10%;
      padding: 10px;
      border-radius: 14px;

    }

  }
}


@media screen and (max-width: 900px) {
  .dashboard-cont {
    .team-member {
      display: initial !important;

      .image {
        width: 200px;
        height: 300px;
        margin-top: 2%;
        position: absolute;
        margin-left: 20%;
      }

      .info-box {


        width: 180px;
        height: auto;
        background-color: white;
        left: 25%;
        top: 32%;
        padding: 10px;

        div {

          h2,
          p {
            font-size: smaller;
          }

        }

        .description {
          font-size: smaller;

        }
      }
    }
  }

}