@mixin centerElement {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.contact-cont {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: 'center';


    .contact-inner {
        display: flex;
        justify-content: center;

    }
}