<div class="navbar-content">
  <div class="navbar-inner">
    <div class="navbar-title">
      {{ "headerTitle" | translate }}
    </div>

    <div class="navbar-navigation">
      <div class="navigation-inner">
        <button mat-button [routerLink]="['/lending']">
          {{ "home" | translate }}
        </button>

        <button mat-button [routerLink]="['/courses']">
          {{ "courses" | translate }}
        </button>
   
        <button mat-button [routerLink]="['/shop']">
          {{ "shop" | translate }}
        </button>
        <button mat-button [routerLink]="['/blog']">
          {{ "blog" | translate }}
        </button>
        <button mat-button [routerLink]="['/contact']">
          {{ "contact" | translate }}
        </button>

        <span>
          <select
            (change)="changeLang($event.target)"
            [(ngModel)]="selectedLang"
          >
            <option value="ka" [selected]="lang == 'ka'">KA</option>
            <option value="en" [selected]="lang == 'en'">ENG</option>
          </select>

          <button
            *ngIf="isUserLoggedInState()"
            (click)="onLogOut()"
            mat-button
            [routerLink]="['/logOut']"
          >
            {{ "logOut" | translate }}
          </button>
          <button
            *ngIf="!isUserLoggedInState()"
            (click)="loginSignUp('signUp')"
            mat-button
            [routerLink]="['/signUp']"
          >
            {{ "signUp" | translate }}
          </button>
          <button
            *ngIf="!isUserLoggedInState()"
            (click)="loginSignUp('logIn')"
            mat-button
            [routerLink]="['/logIn']"
          >
            {{ "logIn" | translate }}
          </button>


          <ng-container *ngIf="isUserLoggedInState()">
            <button *ngIf="userState()"
            mat-button
            [matMenuTriggerFor]="adminMenu">
            {{ "admin" | translate }}
            <span *ngIf="generalNotification" [matBadge]='generalNotification' matBadgeColor="warn">
            </span>
          </button>

            <button  *ngIf="!userState()"
            mat-button
            [matMenuTriggerFor]="simpleUser">
            {{ "my_page" | translate }}
            <!-- <span *ngIf="generalNotification" [matBadge]='generalNotification' matBadgeColor="warn">
            </span> -->
          </button>
          </ng-container>

          <mat-menu #adminMenu="matMenu">
            <ng-container>
              <button mat-menu-item [routerLink]="'/admin/admin-courses'">
                {{ "ordered_courses" | translate }}

                <span *ngIf="orderedCourses?.length"  [matBadge]='orderedCourses?.length' 
                matBadgeColor="warn">
                </span>
                
              </button>
              <button mat-menu-item [routerLink]="'/admin/admin-pregnancy'">
                {{ "ordered_pregnancy_stuff" | translate }}
                <span *ngIf="orderedItems?.length"  [matBadge]='orderedItems?.length' 
                matBadgeColor="warn">

                </span>
              </button>
              <button mat-menu-item [routerLink]="'/admin/admin-message'">
                {{ "customer_message" | translate }}
              </button>
              <button mat-menu-item [routerLink]="'/admin/admin-contact'">
                {{ "contact" | translate }}
                <span *ngIf="contact?.length"  [matBadge]='contact?.length' 
                matBadgeColor="warn">
                </span>
              </button>
              <button mat-menu-item [routerLink]="'/admin/admin-message'">
                {{ "Patient_appointment" | translate }}
              </button>
              <button mat-menu-item [routerLink]="'/admin/admin-home'">
                {{ "home" | translate }}
              </button>
              <button mat-menu-item [routerLink]="'/admin/admin-about'">
                {{ "about" | translate }}
              </button>
              <button mat-menu-item [routerLink]="'/admin/admin-shop'">
                {{ "shop" | translate }}
              </button>
              <button mat-menu-item [routerLink]="'/admin/admin-blog'">
                {{ "blog" | translate }}
              </button>
        
            </ng-container>
          </mat-menu>

          <mat-menu #simpleUser="matMenu">
            <ng-container >
                <button mat-menu-item [routerLink]="'/my-courses'">
                  {{ "user_courses" | translate }}
                </button>

                <button mat-menu-item [routerLink]="'/my-communication'">
                  {{ "user_communications" | translate }}
                </button>
              </ng-container>
          </mat-menu>
        </span>
      </div>
    </div>
  </div>
  <div class="page-name">{{ pageName }} ></div>

  <div class="page-container">
    <router-outlet></router-outlet>
  </div>
  <!-- 
    <div class="footer">
        footer
    </div> -->
</div>
