<div class="navbar-content">
    <div class="navbar-inner">
        <div class="navbar-title">
            {{"headerTitle"|translate}} {{prise}}
        </div>
        <div class="navbar-navigation">


            <div class="navigation-inner">
                <button mat-button [routerLink]="['/lending']"> {{"home"|translate}}</button>
                <button mat-button [routerLink]="['/about']"> {{"about"|translate}}</button>

                <button mat-button [routerLink]="['/courses']">{{"courses"|translate}}</button>
                <!-- <button mat-button [routerLink]="['/book']">{{"book"|translate}}</button>
                <button mat-button [routerLink]="['/free-guides']">{{"free-guide"|translate}}</button> -->
                <button mat-button [routerLink]="['/shop']">{{"shop"|translate}}</button>
                <button mat-button [routerLink]="['/blog']">{{"blog"|translate}}</button>
                <button mat-button [routerLink]="['/contact']">{{"contact"|translate}}</button>



                <span>



                    <select (change)="changeLang($event.target)" [(ngModel)]="selectedLang">
                        <option value="ka" [selected]="lang =='ka'">KA</option>
                        <option value="en" [selected]="lang =='en'"> ENG</option>
                    </select>



                 
                    <button *ngFor="let action of authActions" mat-button
                        [matMenuTriggerFor]="action.type === 'admin' ? adminMenu : action.type === 'userWorld' ? userWorldMenu : null"
                        (click)="initAuthActions(action.type)"
                        >
                        <ng-container *ngIf="action.isIcon">
                            <mat-icon>{{action.icon}}</mat-icon>
                        </ng-container>
                        <span *ngIf="action.type === 'admin'&&generalNotification" [matBadge]='generalNotification' matBadgeColor="warn">

                        </span>

                        {{action.text|translate}}

                    </button>

                    <mat-menu #adminMenu="matMenu">
                        <div class="admin-menu">

                            <button *ngFor="let link of adminBtns" mat-menu-item [routerLink]="link.link">

                        <span> 

                            {{link.courses}}

                       <span *ngIf="orderedCourses?.length&&link.type==='courses'"  [matBadge]='orderedCourses?.length' 
                       matBadgeColor="warn">

                       </span>
                       <span *ngIf="orderedItems?.length&&link.type==='items'"  [matBadge]='orderedItems?.length' 
                       matBadgeColor="warn">

                       </span>
                       <span *ngIf="contact?.length&&link.type==='contact'"  [matBadge]='contact?.length' 
                       matBadgeColor="warn">

                       </span>
                            
                        </span>

                                  
                            {{link.text|translate}}  

                            </button>



                        </div>
                    </mat-menu>
                    <mat-menu #userWorldMenu="matMenu">
                        <div class="admin-menu">

                            <button *ngFor="let link of userWorldBtns" mat-menu-item [routerLink]="link.link">
                                {{link.text|translate}}
                            </button>

                        </div>
                    </mat-menu>




                </span>
            </div>

        </div>
    </div>
    <div class="page-name">
        {{pageName}} >
    </div>



    <div class="page-container">
        <router-outlet></router-outlet>
    </div>
    <!-- 
    <div class="footer">
        footer
    </div> -->
</div>