.my-communication-cont {
    .my-communication-inner {
        background-color: white;
        width: 70%;

        div {
            margin-bottom: 20px;
            padding: 5px;
        }
    }
}


